<div class ="mainDiv">
    <img class ="float-center img-fluid" src="assets/img/todoninja.png" alt="TO-DO TIGER IS STILL WATCHING YOU">
    <h1 class="text-center">I AM REAL TO-DO NINJA</h1>
    <div class="row">
      <div class="col-md-4">
        <h5>"The To-Do Ninja will help you keep track of your tasks, and will stare at you with a disapproving glare until you complete them"</h5>
      </div>
      <div class="col-md-4">
        <h5>"This version of the To-Do Ninja stores your task in the local browser storage and waits for you to complete the task"</h5>
      </div>
      <div class="col-md-4">
        <h5>"Built with Html, Css, Bootstrap, Node.js, Express.js, MongoDb, Angular.js-2, Passport.js"</h5>
      </div>
    </div>
  </div>
 
