<div class="LoginComponent">
    <div class = "ninjaRegister">
        <img class ="float-center img-fluid" src="assets/img/todoninja.png" alt="TO-DO TIGER IS STILL WATCHING YOU">
    </div>
<h2 class="page-header text-center">LOGIN YOUR NINJA</h2>
<form (submit)="onLoginSubmit()">
  <div class="row">
    <div class = "col-md-6">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="username" name="username">
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password">
  </div>
</div>
</div>
<div class="center">
    <input type="submit" class="btn btn-primary" value="Login">
</div>
  
</form> 
</div>
