<div class = "RegisterComponent" >
<div class = "ninjaRegister">
    <img class ="float-center img-fluid" src="assets/img/todoninja.png" alt="TO-DO TIGER IS STILL WATCHING YOU">
</div> 
<h2 class="page-header text-center">REGISTER YOUR INSIDE NINJA</h2>
<form (submit)="onRegisterSubmit()">
  <div class = "row">
    <div class = "col-md-6">
  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>
</div>
   <div class="col-md-6">
  <div class="form-group">
    <label>Username</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control">
  </div>
</div>
</div>

    <div class = "row">
    <div class = "col-md-6">
  <div class="form-group">
    <label>Email</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control" >
  </div>
  </div>
  <div class="col-md-6">
  <div class="form-group">
    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control">
  </div>
</div>
</div>
<div class="center">
  <input type="submit" class="btn btn-primary" value="Submit">
</div>
  
</form>
</div>